/* primary buttons */
.btn {
	height: rem(55);
	width: rem(179);
	@include border-radius(4);
	background-color: $blue-primary;
	color: #FFFFFF;
	font-family: $font-semibold;
	font-size: rem(18);
	text-align: center;
	display: block;
	text-decoration:none;
	margin: rem(10);
	padding-top: rem(18);
}

.btn-medium {
	height: rem(48);
	padding-top: rem(15);
}

.btn-small {
	height: rem(44);
	padding-top: rem(13);
}


/* Secondary buttons */
.btn-secondary {
	box-sizing: border-box;
	border: 1px solid $plata;
	background-color: #FFFFFF;
	color: $carbon;
	font-family: $font-regular;
}


/* Tabs */
.tabs {
	font-size:0;
}

.btn-tab {
	font-size: rem(18);
	display: inline-block;
    margin: 0;
    background: transparent;
    border-bottom: 1px solid $platino;
    @include border-radius(0);
}

.btn-tab a {
    display: block;
	text-decoration: none;
	color: $carbon;
	font-family: $font-regular;
    height: 100%;
    width: 100%;
    margin: auto;
}

.btn-tab.active a {
	border-bottom: 3px solid $blue-primary;
}


/* Multiple selector buttons */
.btn-multiple {
	height: rem(78);
	width: rem(215);
	@include border-radius(0);
	background-color: $nieve;
	color:$carbon;
	font-size: rem(14);
	padding-top: rem(30);
	display:inline-block;
}

.btn-multiple.selected {
	background-color: $blue-primary;
	color:#FFFFFF;
	font-family: $font-bold;
}


/* buttons length */
.btn-large {
	width:auto;
}

.btn-nomargin {
	margin:0;
}

.btn-short {
	width:rem(147);
}

.btn-max-long {
	max-width: rem(410);
	margin:auto;
}

.btn-facebook {
	height: rem(44);
	max-width: rem(360);
	background-color: #4D70B3;
	width:100%;
	margin:rem(10) 0;
	font-size:rem(16);
	font-family:$font-regular;
	padding-top:rem(14);
}

.btn-strava {
	height: rem(44);
	max-width: rem(360);
	width:100%;
	margin:rem(10) 0;
	font-size:rem(16);
	font-family:$font-regular;
	padding-top:rem(14);
}

/* --------------- Media Queries ----------------- */

@media only screen and (max-width: $screen-lg) { }

@media only screen and (max-width: $screen-md) { }

@media only screen and (max-width: $screen-sm) { }

@media only screen and (max-width: $screen-xs) {
	.btn-max-long {
		margin: rem(0);
	}
}
