@font-face {
    font-family: 'tuvalum_italic';
    src: url('base/fonts/tuvalum-regularitalic.woff2') format('woff2'),
         url('base/fonts/tuvalum-regularitalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tuvalum_regular';
    src: url('base/fonts/tuvalum-regular.woff2') format('woff2'),
         url('base/fonts/tuvalum-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tuvalum_bold';
    src: url('base/fonts/tuvalum-bold.woff2') format('woff2'),
         url('base/fonts/tuvalum-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tuvalum_semibold';
    src: url('base/fonts/tuvalum-semibold.woff2') format('woff2'),
         url('base/fonts/tuvalum-semibold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}