/* Tuvalum Variables */

/* fonts */
$default-font-size: 16;
$font-regular: tuvalum_regular, Arial, sans-serif;
$font-italic: tuvalum_italic, Arial, sans-serif;
$font-semibold: tuvalum_semibold, Arial, sans-serif;
$font-bold: tuvalum_bold, Arial, sans-serif;

/* Colors */
$blue-primary: #377BFF; 
$blue-secundary: #5891FF; 
$blue-terciary: #87C6FF;
$morado: #9E4CFE;
$main-background: #FFFFFF;

/* Text colors */
$carbon: #525763;
$hierro: #868C99;
$plata: #A3ACBD;
$mini: #6B7C93;

/* Backgrounds */
$palid-blue:#5891FF;

/* Buttons borders */
$focus-border:#439AFF;

/* UI Colors */
$platino: #D6DCE4;
$nieve: #E8EBF0;

/* UI Feedback colors */
$rojo: #FF5D5D;
$verde: #2BE97D;
$amarillo: #F4A833;
$progress-bar: #44D791;

// MEDIA QUERIES
$screen-xs: 480px;
$screen-sm: 767px;
$screen-md: 870px;
$screen-lg: 1200px;
$screen-xlg: 1440px;

